form{
    border: solid 1px;
    width: 500px;
    margin-left: 250px;
    background-color: yellow;
    padding-left: 20px;
    font-style: italic;
}
h1{
    text-align: center;
    font-size: 40px;
    color: aqua;
}label{
    font-size: 25px;
    font-weight: bold;
    color: brown;
}
input{
    height: 25px;
}